body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #615151;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.alphabet {
    font-size: 100px;
    margin: 20px 0;
}

#message {
    font-size: 24px;
    color: red;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
